# VSCode / SFDX / entornos
.vscode/
.sfdx/
.env

# Builds y dependencias
/dist
/node_modules

# Traefik ACME
/data/traefik/acme/*
!/data/traefik/acme/.gitkeep

# Store
store/images/*
!store/images/.gitkeep

# Logs Traefik
logs/traefik/*
!logs/traefik/.gitkeep

# Coverage
/coverage
